[Desktop Entry]
Version=1.0
Type=Application
Name=SRS Install
Comment=
Exec=/dockerstartup/srs-install.sh
Icon=/usr/share/icons/elementary-xfce/devices/128/audio-headset.png
Path=/dockerstartup
Terminal=true
StartupNotify=false